<div class="app-resume">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">{{data.personal_detail[0]?.firstname || 'Firstname'}} {{data.personal_detail[0]?.lastname || 'Lastname'}}</span>
      <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2"
          src="assets/img/avatar.jpg" alt="..." /></span>
    </a>
    <button class="navbar-toggler" type="button" (click)="showDropdownMenu=!showDropdownMenu"><span
        class="navbar-toggler-icon"></span></button>
    <div class="navbar-collapse" id="navbarResponsive" [class.collapse]="showDropdownMenu">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
        <!-- <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li> -->
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
        <li class="nav-item"><a class="btn btn-sm btn-outline-light mt-3" routerLink="dashboard">Dashboard</a></li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
      <div class="resume-section-content">
        <h1 class="mb-0">
          {{data.personal_detail[0]?.firstname || 'Firstname'}}
          <span class="text-primary">{{data.personal_detail[0]?.lastname || 'Lastname'}}</span>
        </h1>
        <div class="subheading mb-5">
          Persiaran Bestari · Cyberjaya 63000 · {{data.personal_detail[0]?.phone || 'Phone Number'}} ·
          <a href="mailto:name@email.com">{{data.personal_detail[0]?.email || 'Email Address'}}</a>
        </div>
        <p class="lead mb-5">A pasionate web & mobile application developer that seeking a senior executives level position that allow me to fully utilize my software engineering, project managements &amp; programming skils; theoretical and practical knowledge which would gain mutual benefit for both company and my career growth</p>
        <div class="social-icons">
          <a class="social-icon text-decoration-none"><i class="fab fa-linkedin-in"></i></a>
          <a class="social-icon text-decoration-none"><i class="fab fa-github"></i></a>
          <a class="social-icon text-decoration-none"><i class="fab fa-twitter"></i></a>
          <a class="social-icon text-decoration-none"><i class="fab fa-facebook-f"></i></a>
        </div>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
      <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <h3 class="mb-0">Fullstack Developer</h3>
            <div class="subheading mb-3">Aerodyne Group</div>
            <p>Design and create an unified platform / system that’s robust and scalable enough to cater multiple company’s project & business use cases.</p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">May 2020 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <h3 class="mb-0">Senior Software Engineer</h3>
            <div class="subheading mb-3">Cell Wellbeing Ptd Ltd</div>
            <p>Responsible in managing small group of developer and enhanc- ing system to meet business needs.</p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">May 2018 - Mar 2020</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <h3 class="mb-0">Software Engineer</h3>
            <div class="subheading mb-3">Aladdin Street Sdn Bhd</div>
            <p>Responsible in creating, supporting and enhancing the functions, business logic & operation modules required for the company’s e-commerce website and operations.</p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">May 2016 - May 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <div class="flex-grow-1">
            <h3 class="mb-0">Backend Developer</h3>
            <div class="subheading mb-3">Invoke Malaysia</div>
            <p>Create, enhance and maintain- ing internal backend system following company’s business nature and needs.</p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">Mar 2017 - Oct 2017</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <div class="flex-grow-1">
            <h3 class="mb-0">Intern</h3>
            <div class="subheading mb-3">Fiction Labs Sdn Bhd</div>
            <p>Being as intern for 3 month in development of web and mobile application. Done various role; from helpdesk to developer.</p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">Mar 2015 - Jun 2015</span></div>
        </div>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
      <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <h3 class="mb-0">University Tenaga Nasional (UNITEN)</h3>
            <div class="subheading mb-3">Bachelor of Computer Science</div>
            <div>Software Engineering</div>
            <p>GPA: 3.81</p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">Mar 2013 - May 2016</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <div class="flex-grow-1">
            <h3 class="mb-0">SM Sains Sultan Iskandar (SMSSI), Johor</h3>
            <div class="subheading mb-3">Sijil Penilaian Menengah (SPM)</div>
            <p>9A’s (4A+, 4A, 1A-)</p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">Jan 2006 - Dec 2010</span></div>
        </div>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
      <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item"><i class="fab fa-html5"></i></li>
          <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
          <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
          <li class="list-inline-item"><i class="fab fa-angular"></i></li>
          <li class="list-inline-item"><i class="fab fa-react"></i></li>
          <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
          <li class="list-inline-item"><i class="fab fa-sass"></i></li>
          <li class="list-inline-item"><i class="fab fa-npm"></i></li>
        </ul>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Mobile-First, Responsive Design
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Cross Browser Testing & Debugging
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Cross Functional Teams
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Agile Development & Scrum
          </li>
        </ul>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <!-- <section class="resume-section" id="interests">
      <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier
          and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and
          kayaking.</p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows,
          I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements
          in the front-end web development world.</p>
      </div>
    </section>
    <hr class="m-0" /> -->
    <!-- Awards-->
    <section class="resume-section" id="awards">
      <div class="resume-section-content">
        <h2 class="mb-5">Awards & Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
            Aerodyne Aeromazing Award - 2020
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
            UNITEN Industrial Award for Excellence - 2016
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
            CTFL Certification - 2015
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
            CPRE-FL Certification - 2014
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>