.app-resume
  padding-top: 3.375rem
  color: #6c757d

@media (min-width: 992px)
  .app-resume
    padding-top: 0
    padding-left: 17rem

#sideNav
  padding-left: 1rem
  padding-right: 1rem

#sideNav .navbar-nav .nav-item .nav-link
  font-weight: 800
  letter-spacing: 0.05rem
  text-transform: uppercase

#sideNav .navbar-toggler:focus
  outline-color: #d48a6e

@media (min-width: 992px)
  #sideNav
    padding-left: 0
    padding-right: 0
    text-align: center
    position: fixed
    top: 0
    left: 0
    display: flex
    flex-direction: column
    width: 17rem
    height: 100vh

  #sideNav .navbar-brand
    display: flex
    margin: auto auto 0
    padding: 0.5rem

  #sideNav .navbar-brand .img-profile
    max-width: 10rem
    max-height: 10rem
    border: 0.5rem solid rgba(255, 255, 255, 0.2)

  #sideNav .navbar-collapse
    display: flex
    align-items: flex-start
    flex-grow: 0
    width: 100%
    margin-bottom: auto

  #sideNav .navbar-collapse .navbar-nav
    flex-direction: column
    width: 100%

  #sideNav .navbar-collapse .navbar-nav .nav-item
    display: block

  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link
    display: block

.social-icons .social-icon
  display: inline-flex
  align-items: center
  justify-content: center
  height: 3.5rem
  width: 3.5rem
  background-color: #495057
  color: #fff
  border-radius: 100%
  font-size: 1.5rem
  margin-right: 1.5rem

.social-icons .social-icon:last-child
  margin-right: 0

.social-icons .social-icon:hover
  background-color: #bd5d38

.dev-icons
  font-size: 3rem

section.resume-section
  display: flex
  align-items: center
  padding-left: 1rem
  padding-right: 1rem
  padding-top: 5rem
  padding-bottom: 5rem
  max-width: 75rem

section.resume-section .resume-section-content
  width: 100%

@media (min-width: 768px)
  section.resume-section
    min-height: 100vh

@media (min-width: 992px)
  section.resume-section
    padding-left: 3rem
    padding-right: 3rem
    padding-top: 5rem
    padding-bottom: 5rem
