// .avatar
//   width: 60px
//   height: 60px

.avatar-wrapper
  position: relative
  height: 60px
  width: 60px
  margin: 0px auto
  border-radius: 50%
  overflow: hidden
  box-shadow: 1px 1px 15px -5px black
  transition: all .3s ease
  &:hover
    transform: scale(1.05)
    cursor: pointer

  &:hover .profile-pic
    opacity: .5

  .profile-pic
    height: 100%
    width: 100%
    transition: all .3s ease
    &:after
      font-family: "Font Awesome 5 Pro"
      content: "\f007"
      top: 0 
      left: 0
      width: 100%
      height: 100%
      position: absolute
      font-size: 38px
      background: #ecf0f1
      color: #34495e
      text-align: center

  .upload-button
    position: absolute
    top: 0 
    left: 0
    height: 100%
    width: 100%
    .fa-arrow-circle-up
      position: absolute
      font-size: 60px
      top: 0px
      left: 0
      text-align: center
      opacity: 0
      transition: all .5s ease
      color: #34495e

    &:hover .fa-arrow-circle-up
      opacity: 1
