<div class="
    d-flex
    justify-content-between
    flex-wrap flex-md-nowrap
    align-items-center
    pt-3
    pb-2
    mb-3
    border-bottom
  ">
  <h1 class="h2">Update</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary disabled">
        Cancel
      </button>
      <button type="button" class="btn btn-sm btn-outline-success disabled">Save</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-lg-7">
    <h5 class="mb-3">Personal Details</h5>
    <form class="needs-validation" novalidate (ngSubmit)="onSubmit()" [formGroup]="mainForm">
      <div class="row g-3">
        <div class="col-sm-6">
          <label for="wantedjobtitle" class="form-label">Wanted Job Title (optional)</label>
          <input type="text" class="form-control" id="wantedjobtitle" placeholder="" value="" formControlName="wantedjobtitle"/>
        </div>
        <div class="col-sm-6 d-flex align-items-center">
          <div class="avatar-wrapper">
            <img class="profile-pic" src="" #avatarHolder />
            <div class="upload-button" (click)="onClickAvatar()">
              <i class="far fa-arrow-circle-up" aria-hidden="true"></i>
            </div>
            <input class="file-upload" type="file" accept="image/*" (change)="onChangeAvatar($event)" #avatarInput formControlName="avatar"/>
          </div>
          <!-- <img src="assets/img/avatar.jpg" class="rounded-circle avatar" alt="avatar">
          <button class="btn btn-sm btn-outline-danger mx-3">Remove</button> -->
        </div>
        <div class="col-sm-6">
          <label for="firstname" class="form-label">First name</label>
          <input type="text" class="form-control" id="firstname" placeholder="" value="" required formControlName="firstname" />
          <div class="invalid-feedback">Valid first name is required.</div>
        </div>
        <div class="col-sm-6">
          <label for="lastname" class="form-label">Last name</label>
          <input type="text" class="form-control" id="lastname" placeholder="" value="" required formControlName="lastname" />
        </div>
        <div class="col-sm-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="" value="" required formControlName="email" />
        </div>
        <div class="col-sm-6">
          <label for="phone" class="form-label">Phone</label>
          <input type="text" class="form-control" id="phone" placeholder="" value="" required formControlName="phone" />
        </div>
      </div>

      <h5 class="mt-4 mb-3">Professional Summary</h5>
      <div class="row g-3" formArrayName="professional_summary">
        <div class="col-sm-12" *ngFor="let eh of professional_summary.controls; let i=index" [formGroupName]="i">
          <textarea class="form-control" rows="3" formControlName="details"></textarea>
        </div>
      </div>

      <h5 class="mt-4 mb-3">Employment History</h5>
      <div formArrayName="employment_history">
        <div class="card mb-3" *ngFor="let eh of employment_history.controls; let i=index">
          <div class="card-body" [formGroupName]="i">
            <h6 class="card-title">#{{i + 1}}</h6>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="jobtitle" class="form-label">Job Title</label>
                <input type="text" class="form-control" formControlName="jobtitle" id="jobtitle" placeholder="" value="" required />
              </div>
              <div class="col-sm-6">
                <label for="employer" class="form-label">Employer</label>
                <input type="text" class="form-control" formControlName="employer" id="employer" placeholder="" value="" required />
              </div>
              <div class="col-sm-3 text-truncate">
                <label for="startdate" class="form-label">Start & End Date</label>
                <input type="date" class="form-control" formControlName="startdate" id="startdate" placeholder="" value="" required />
              </div>
              <div class="col-sm-3">
                <label for="enddate" class="form-label">&nbsp;</label>
                <input type="date" class="form-control" formControlName="enddate" id="enddate" placeholder="" value="" required />
              </div>
              <div class="col-sm-6">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" formControlName="city" id="city" placeholder="" value="" required />
              </div>
              <div class="col-sm-12">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" rows="3" formControlName="description" id="description"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="w-100 btn btn-sm btn-outline-secondary mb-3" (click)="addStuff('employment_history')"><i class="far fa-plus"></i> Add employment</button>

      <h5 class="mt-4 mb-3">Education</h5>
      <div formArrayName="education">
        <div class="card mb-3" *ngFor="let e of education.controls; let i=index">
          <div class="card-body" [formGroupName]="i">
            <h6 class="card-title">#{{i + 1}}</h6>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="school" class="form-label">School</label>
                <input type="text" class="form-control" id="school" placeholder="" value="" required formControlName="school" />
              </div>
              <div class="col-sm-6">
                <label for="degree" class="form-label">Degree</label>
                <input type="text" class="form-control" id="degree" placeholder="" value="" required formControlName="degree" />
              </div>
              <div class="col-sm-3 text-truncate">
                <label for="startdate" class="form-label">Start & End Date</label>
                <input type="date" class="form-control" id="startdate" placeholder="" value="" required formControlName="startdate" />
              </div>
              <div class="col-sm-3">
                <label for="enddate" class="form-label">&nbsp;</label>
                <input type="date" class="form-control" id="enddate" placeholder="" value="" required formControlName="enddate" />
              </div>
              <div class="col-sm-6">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" placeholder="" value="" required formControlName="city" />
              </div>
              <div class="col-sm-12">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" rows="3" id="description" formControlName="description"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="w-100 btn btn-sm btn-outline-secondary mb-3" (click)="addStuff('education')"><i class="far fa-plus"></i> Add education</button>
      
      <h5 class="mt-4 mb-3">Websites & Social Links</h5>
      <div formArrayName="external_link">
        <div class="card mb-3" *ngFor="let el of external_link.controls; let i=index">
          <div class="card-body" [formGroupName]="i">
            <h6 class="card-title">#{{i + 1}}</h6>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="label" class="form-label">Label</label>
                <input type="text" class="form-control" id="label" placeholder="" value="" required formControlName="label"/>
              </div>
              <div class="col-sm-6">
                <label for="link" class="form-label">Link</label>
                <input type="text" class="form-control" id="link" placeholder="" value="" required formControlName="link"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="w-100 btn btn-sm btn-outline-secondary mb-3" (click)="addStuff('external_link')"><i class="far fa-plus"></i> Add link</button>
      
      <h5 class="mt-4 mb-3">Skills</h5>
      <div formArrayName="skill">
        <div class="card mb-3" *ngFor="let s of skill.controls; let i=index">
          <div class="card-body" [formGroupName]="i">
            <h6 class="card-title">#{{i + 1}}</h6>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="skillname" class="form-label">Skill</label>
                <input type="text" class="form-control" id="skillname" placeholder="" value="" required formControlName="skillname"/>
              </div>
              <div class="col-sm-6">
                <label for="level" class="form-label">Level</label>
                <input type="text" class="form-control" id="level" placeholder="" value="" required formControlName="level"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="w-100 btn btn-sm btn-outline-secondary mb-3" (click)="addStuff('skill')"><i class="far fa-plus"></i> Add skill</button>

      <hr class="my-4" />

      <button class="w-100 btn btn-success btn-lg mb-3" type="submit">
        Save
      </button>
    </form>
  </div>

  <div class="col bg-secondary">
    <div class="d-md-flex h-100 d-none align-items-center justify-content-center">
      <h1 class="text-light">Preview</h1>
    </div>
  </div>
</div>