<div class="
    d-flex
    justify-content-between
    flex-wrap flex-md-nowrap
    align-items-center
    pt-3
    pb-2
    mb-3
    border-bottom
  ">
  <h1 class="h2">Resumes</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary disabled">
        Create New
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary disabled">
        Export
      </button>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-6">
    <div class="
        row
        g-0
        border
        rounded
        overflow-hidden
        flex-md-row
        mb-4
        shadow-sm
        h-md-250
        position-relative
      ">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Main</strong>
        <h3 class="mb-0">My Resume</h3>
        <div class="mb-1 text-muted">Nov 12</div>
        <p class="card-text mb-3">
          This is a wider card with supporting text below as a natural lead-in
          to additional content.
        </p>
        <a class="btn btn-primary" routerLink="update">Edit</a>
      </div>
      <div class="col-auto d-lg-block">
        <img src="https://picsum.photos/seed/picsum/200" alt="My Main Resume" class="image thumbnail-resume" width="200">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="
        row
        g-0
        border
        rounded
        overflow-hidden
        flex-md-row
        mb-4
        shadow-sm
        h-md-250
        position-relative
      ">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-secondary">Test</strong>
        <h3 class="mb-0">Test Resume</h3>
        <div class="mb-1 text-muted">Nov 12</div>
        <p class="card-text mb-3">
          This is a wider card with supporting text below as a natural lead-in
          to additional content.
        </p>
        <a class="btn btn-secondary disabled">Edit</a>
      </div>
      <div class="col-auto d-lg-block">
        <img src="https://picsum.photos/seed/picsum/200" alt="My Main Resume" class="image thumbnail-resume" width="200">
      </div>
    </div>
  </div>
</div>